In [5]:
import pandas as pd
import numpy as np

# Set format display values in PD
pd.options.display.float_format = '{:,.1f}'.format

In [18]:
df_population = pd.read_csv('./../db/poblacion.csv')
#print(df_population.shape)
df_population.sample()

         Country  year         pop
319  El Salvador  2016 6,356,143.0

In [ ]:
# Seteando la columna como categorical
df_population['year'] = pd.Categorical(df_population['year'])
print(df_population.dtypes)

In [21]:
# Creando una Serie o indice como filtro
idx_filtro = df_population['Country'].isin(['Aruba', 'Colombia'])

df_population_filtered = df_population[idx_filtro]
df_population_filtered.describe()

         year          pop
count     8.0          8.0
mean  2,016.5 24,332,779.2
std       1.2 25,907,456.2
min   2,015.0    104,341.0
25%   2,015.8    105,242.5
50%   2,016.5 23,813,256.0
75%   2,017.2 48,353,810.5
max   2,018.0 49,648,685.0

In [22]:
# Seteando los indices del DF
# .sort_index(ascending = [True, False, True]) // Indica el orden de ascendencia para cada columna seteanda como index
df_population_filtered = df_population_filtered.set_index(['Country', 'year']).sort_index()
df_population_filtered.describe()

               pop
count          8.0
mean  24,332,779.2
std   25,907,456.2
min      104,341.0
25%      105,242.5
50%   23,813,256.0
75%   48,353,810.5
max   49,648,685.0

In [23]:
# Sleccionado por un indice
df_population_filtered.loc['Colombia', :]

              pop
year
2015 47,520,667.0
2016 48,171,392.0
2017 48,901,066.0
2018 49,648,685.0

In [29]:
# Seteando el index
df_population = df_population.set_index(['Country', 'year']).sort_index(ascending = [True, False])
df_population.sample()

                      pop
Country year
Belgium 2018 11,422,068.0

In [30]:
# Accediendo a traves de ubduces a un valor
df_population['pop']['Colombia']

year
2018   49,648,685.0
2017   48,901,066.0
2016   48,171,392.0
2015   47,520,667.0
Name: pop, dtype: float64

In [32]:
# Operaciones sobre indices
# level='indice', se especifica a que nivel se requiere la aplicacion de la operacion o funcion
df_population.sum(level='year')

                  pop
year
2018 68,087,886,692.0
2017 67,294,176,701.0
2016 66,487,930,677.0
2015 65,679,147,019.0

In [33]:
# Pivoteando un indice de filas a columnas
# unstack('year') | ['col1', 'col2'] // pivotea las filas a columnas
df_population_filtered.unstack(['year'])

                  pop
year             2015         2016         2017         2018
Country
Aruba       104,341.0    104,872.0    105,366.0    105,845.0
Colombia 47,520,667.0 48,171,392.0 48,901,066.0 49,648,685.0

In [36]:
df_population_2 = pd.read_csv('./../db/poblacion.csv')
df_population_2.tail()

                       Country  year             pop
1035  Pre-demographic dividend  2018   919,485,393.0
1036              Small states  2018    40,575,321.0
1037                South Asia  2018 1,814,388,744.0
1038   South Asia (IDA & IBRD)  2018 1,814,388,744.0
1039        Sub-Saharan Africa  2018 1,078,306,520.0

In [37]:
# Formateando los strings
df_population_2['Country'] = df_population_2['Country'].str.lower()
df_population_2.tail()

                       Country  year             pop
1035  pre-demographic dividend  2018   919,485,393.0
1036              small states  2018    40,575,321.0
1037                south asia  2018 1,814,388,744.0
1038   south asia (ida & ibrd)  2018 1,814,388,744.0
1039        sub-saharan africa  2018 1,078,306,520.0

In [38]:
# Consultando por conincidencias
# .str.contains('col') // devuelve serie con true o false que puede ser usada como filtro
df_population_2['Country'].str.contains('col')

0       False
1       False
2       False
3       False
4       False
        ...
1035    False
1036    False
1037    False
1038    False
1039    False
Name: Country, Length: 1040, dtype: bool

In [40]:
# Seleccionando colunas, y filtrando por una columna encontrando coincidencias por el parametro pasado
df_population_2[['Country', 'year']][df_population_2['Country'].str.contains( 'col' )]

      Country  year
42   colombia  2015
302  colombia  2016
562  colombia  2017
822  colombia  2018