In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a': ['w'] * 4 + ['x'] * 3 + ['y'] * 2 + ['z'] + ['v'],
                   'b': [1, 1, 1, 1, 2, 2, 2, 3, 3, 4, 5]})
df

    a  b
0   w  1
1   w  1
2   w  1
3   w  1
4   x  2
5   x  2
6   x  2
7   y  3
8   y  3
9   z  4
10  v  5

In [3]:
# Devuelve una serie boolean, con los valores duplicados en la ultima ocurrencia True
df.duplicated()

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8      True
9     False
10    False
dtype: bool

In [4]:
# marca solo la primera ocurrencia
df.duplicated(keep='first')

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8      True
9     False
10    False
dtype: bool

In [5]:
# marca solo la última ocurrencia en False
df.duplicated(keep='last')

0      True
1      True
2      True
3     False
4      True
5      True
6     False
7      True
8     False
9     False
10    False
dtype: bool

In [6]:
# Filtra aquellos casos que no tienen duplicados, el ~ es negación
df[~ df.duplicated()]

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [7]:
# Devolvera una serie de booleanos en True todos los que se repiten y False los que no
df.duplicated(keep=False)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10    False
dtype: bool

In [8]:
# descarta los registros duplicados, tiene por defecto el keep = first
df.drop_duplicates()

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [9]:
# elimina los duplicados teniendo en cuenta una sola columna
df.drop_duplicates(['a'], keep='last')

    a  b
3   w  1
6   x  2
8   y  3
9   z  4
10  v  5