In [2]:
import pandas as pd
import numpy as np

In [31]:
df_products =  pd.read_csv('./../db/products.csv', sep=';')
df_sales = pd.read_csv('./../db/sales.csv', sep=';')

print(df_products.shape)
print(df_sales.shape)

(11121, 17)
(40238, 6)

In [12]:
df_products.head(5)

,id,name,reference,reference_group,gender,temp,initial_price,cost,code_color,description_color,size,description_size,target,family,fashion_grade,status,url_images
0,8445035092569,LEGGINGS PUNTA-N,53040854,53040854,Mujer,5,99900,99900,99,NEGRO,23,XL,Casual,LEGGING CIRCULAR,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T5/fotos...
1,8445156208559,CHAQUETA BERRY7,77003253,77003253,Hombre,7,429900,429900,56,NAVY,21,M,Smart,CHAQUETA PLANA HOMBRE,NaN,1,NaN
2,8445156311907,JERSEY WILLYT,77005129,77005129,Hombre,7,259900,259900,78,BURDEOS,22,L,Smart,JERSEY TRICOT HOMBRE,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T7/fotos...
3,8445156389623,PANTALON BRASILIA,77020512,77020512,Hombre,7,329900,329900,52,AZUL,42,42,Tayloring,PANTALON PLANA HOMBRE,NaN,1,NaN
4,8445156449334,JEANS NEWMOM,77000518,77000518,Mujer,7,199900,199900,TO,TEJANO OSCURO,38,38,Casual,TEJANO PLANA,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T7/fotos...

In [13]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11121 entries, 0 to 11120
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 11121 non-null  int64
 1   name               11121 non-null  object
 2   reference          11121 non-null  int64
 3   reference_group    11121 non-null  int64
 4   gender             11121 non-null  object
 5   temp               11121 non-null  int64
 6   initial_price      11121 non-null  int64
 7   cost               11121 non-null  int64
 8   code_color         11121 non-null  object
 9   description_color  11121 non-null  object
 10  size               11121 non-null  int64
 11  description_size   11121 non-null  object
 12  target             11121 non-null  object
 13  family             11121 non-null  object
 14  fashion_grade      9880 non-null   object
 15  status             11121 non-null  int64
 16  url_images         10602 non-null  object
dtypes: int64(8), object(9)
memory usage: 1.4+ MB

### Change type columns

In [45]:
df_products['name'] = df_products['name'].astype('string')
df_products['reference'] = df_products['reference'].astype('string')
df_products['id'] = df_products['id'].astype('string')
df_products['reference_group'] = df_products['reference_group'].astype('string')
df_products['gender'] = df_products['gender'].astype('string')
df_products['family'] = df_products['family'].astype('string')
df_products['url_images'] = df_products['url_images'].astype('string')

df_sales['store_id']  = df_sales['store_id'].astype('string')
df_sales['product_id']  = df_sales['product_id'].astype('string')
df_sales['date']  = pd.to_datetime(df_sales['date'])

df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11121 entries, 0 to 11120
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 11121 non-null  string
 1   name               11121 non-null  string
 2   reference          11121 non-null  string
 3   reference_group    11121 non-null  string
 4   gender             11121 non-null  string
 5   temp               11121 non-null  int64
 6   initial_price      11121 non-null  int64
 7   cost               11121 non-null  int64
 8   code_color         11121 non-null  object
 9   description_color  11121 non-null  object
 10  size               11121 non-null  int64
 11  description_size   11121 non-null  object
 12  target             11121 non-null  object
 13  family             11121 non-null  string
 14  fashion_grade      9880 non-null   object
 15  status             11121 non-null  int64
 16  url_images         10602 non-null  string
dtypes: int64(5), object(5), string(7)
memory usage: 1.4+ MB

### Transform | replace values columns

In [53]:
df_products['family'] = df_products['family'].apply(lambda row: row.lower())
df_products['url_images'] = df_products['url_images'].fillna('')
df_products['url_images'] = df_products['url_images'].apply(lambda row: row.replace('|', ',') if row is not None else row)

df_products[['family', 'url_images']]

,family,url_images
0,legging circular,https://st.mngbcn.com/rcs/pics/static/T5/fotos...
1,chaqueta plana hombre,
2,jersey tricot hombre,https://st.mngbcn.com/rcs/pics/static/T7/fotos...
3,pantalon plana hombre,
4,tejano plana,https://st.mngbcn.com/rcs/pics/static/T7/fotos...
...,...,...
11116,pichi y vestido largo plana,
11117,anorak plana,https://st.mngbcn.com/rcs/pics/static/T2/fotos...
11118,anorak plana,https://st.mngbcn.com/rcs/pics/static/T2/fotos...
11119,anorak plana,https://st.mngbcn.com/rcs/pics/static/T2/fotos...
11120,anorak plana,https://st.mngbcn.com/rcs/pics/static/T2/fotos...

### Add columns

In [16]:
df_products['modelo_color'] = df_products.apply(lambda columns: columns['reference_group'] + '_' + columns['code_color'], axis=1)
df_products.head(10)

,id,name,reference,reference_group,gender,temp,initial_price,cost,code_color,description_color,size,description_size,target,family,fashion_grade,status,url_images,modelo_color
0,8445035092569,LEGGINGS PUNTA-N,53040854,53040854,Mujer,5,99900,99900,99,NEGRO,23,XL,Casual,LEGGING CIRCULAR,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T5/fotos...,53040854_99
1,8445156208559,CHAQUETA BERRY7,77003253,77003253,Hombre,7,429900,429900,56,NAVY,21,M,Smart,CHAQUETA PLANA HOMBRE,NaN,1,NaN,77003253_56
2,8445156311907,JERSEY WILLYT,77005129,77005129,Hombre,7,259900,259900,78,BURDEOS,22,L,Smart,JERSEY TRICOT HOMBRE,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T7/fotos...,77005129_78
3,8445156389623,PANTALON BRASILIA,77020512,77020512,Hombre,7,329900,329900,52,AZUL,42,42,Tayloring,PANTALON PLANA HOMBRE,NaN,1,NaN,77020512_52
4,8445156449334,JEANS NEWMOM,77000518,77000518,Mujer,7,199900,199900,TO,TEJANO OSCURO,38,38,Casual,TEJANO PLANA,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T7/fotos...,77000518_TO
5,8445156477931,JEANS ISA,77065902,77065902,Mujer,7,199900,199900,37,KHAKI,38,38,Casual,TEJANO PLANA,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T7/fotos...,77065902_37
6,8445156528862,PANTALON BOREAL,77030108,77030108,Mujer,7,169900,169900,69,MARINO,36,36,Vestir,PANTALON PLANA,TIMELESS,1,https://st.mngbcn.com/rcs/pics/static/T7/fotos...,77030108_69
7,8445156528954,PANTALON BOREAL,77030108,77030108,Mujer,7,169900,169900,99,NEGRO,38,38,Vestir,PANTALON PLANA,TIMELESS,1,https://st.mngbcn.com/rcs/pics/static/T7/fotos...,77030108_99
8,8445156530728,CARDIGAN ALMA,77080546,77080546,Mujer,7,99900,99900,09,CAMEL,22,L,Casual,CARDIGAN TRICOT,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T7/fotos...,77080546_09
9,8445156547757,CHAQUETA RYAN,77032888,77032888,Hombre,7,259900,259900,TN,TEJANO NEGRO,20,S,Casual,CHAQUETA PLANA HOMBRE,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T7/fotos...,77032888_TN

### Remove columns

In [17]:
df_products = df_products.drop('status', axis=1)
df_products.head()

,id,name,reference,reference_group,gender,temp,initial_price,cost,code_color,description_color,size,description_size,target,family,fashion_grade,url_images,modelo_color
0,8445035092569,LEGGINGS PUNTA-N,53040854,53040854,Mujer,5,99900,99900,99,NEGRO,23,XL,Casual,LEGGING CIRCULAR,ICONICO,https://st.mngbcn.com/rcs/pics/static/T5/fotos...,53040854_99
1,8445156208559,CHAQUETA BERRY7,77003253,77003253,Hombre,7,429900,429900,56,NAVY,21,M,Smart,CHAQUETA PLANA HOMBRE,NaN,NaN,77003253_56
2,8445156311907,JERSEY WILLYT,77005129,77005129,Hombre,7,259900,259900,78,BURDEOS,22,L,Smart,JERSEY TRICOT HOMBRE,ICONICO,https://st.mngbcn.com/rcs/pics/static/T7/fotos...,77005129_78
3,8445156389623,PANTALON BRASILIA,77020512,77020512,Hombre,7,329900,329900,52,AZUL,42,42,Tayloring,PANTALON PLANA HOMBRE,NaN,NaN,77020512_52
4,8445156449334,JEANS NEWMOM,77000518,77000518,Mujer,7,199900,199900,TO,TEJANO OSCURO,38,38,Casual,TEJANO PLANA,ICONICO,https://st.mngbcn.com/rcs/pics/static/T7/fotos...,77000518_TO

### Concat rows

In [78]:
# concating the same DF but filtered fot after droping the duplicates
df_products_concat = pd.concat([df_products, df_products[df_products['initial_price'] > 100000]], ignore_index=True, axis=0)
print("shape => ", df_products_concat.shape)
df_products_concat.head()

shape =>  (20801, 17)

,id,name,reference,reference_group,gender,temp,initial_price,cost,code_color,description_color,size,description_size,target,family,fashion_grade,status,url_images
0,8445035092569,LEGGINGS PUNTA-N,53040854,53040854,Mujer,5,99900,99900,99,NEGRO,23,XL,Casual,legging circular,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T5/fotos...
1,8445156208559,CHAQUETA BERRY7,77003253,77003253,Hombre,7,429900,429900,56,NAVY,21,M,Smart,chaqueta plana hombre,NaN,1,
2,8445156311907,JERSEY WILLYT,77005129,77005129,Hombre,7,259900,259900,78,BURDEOS,22,L,Smart,jersey tricot hombre,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T7/fotos...
3,8445156389623,PANTALON BRASILIA,77020512,77020512,Hombre,7,329900,329900,52,AZUL,42,42,Tayloring,pantalon plana hombre,NaN,1,
4,8445156449334,JEANS NEWMOM,77000518,77000518,Mujer,7,199900,199900,TO,TEJANO OSCURO,38,38,Casual,tejano plana,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T7/fotos...

### Duplicates (identify them and drop them)

In [80]:
# Group and count items
df_products_concat['id'].value_counts()

8445438491181    2
8445306904966    2
8445306904751    2
8445306904768    2
8445306904775    2
                ..
8445438722155    1
8445438194686    1
8445438194693    1
8445438194709    1
8445035092569    1
Name: id, Length: 11121, dtype: Int64

In [84]:
# Drop duplicates
df_products_concat = df_products_concat.drop_duplicates(keep='first')
df_products_concat.shape

(11121, 17)

### Merge | Join

In [54]:
df_sales_products = df_sales.merge(df_products, left_on='product_id', right_on='id', how='inner')
df_sales_products.head()

,store_id,date,product_id,sales_with_taxes,sales_without_taxes,quantity,id,name,reference,reference_group,...,cost,code_color,description_color,size,description_size,target,family,fashion_grade,status,url_images
0,2586,2021-12-01,8445306012586,167983,167983,1,8445306012586,JEANS ISA,87001012,87001012,...,199900,TO,TEJANO OSCURO,40,40,Casual,tejano plana,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T8/fotos...
1,2586,2021-12-23,8445306012586,167983,167983,1,8445306012586,JEANS ISA,87001012,87001012,...,199900,TO,TEJANO OSCURO,40,40,Casual,tejano plana,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T8/fotos...
2,2586,2021-12-29,8445306012586,167983,167983,1,8445306012586,JEANS ISA,87001012,87001012,...,199900,TO,TEJANO OSCURO,40,40,Casual,tejano plana,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T8/fotos...
3,2672,2022-01-04,8445306012586,167983,167983,1,8445306012586,JEANS ISA,87001012,87001012,...,199900,TO,TEJANO OSCURO,40,40,Casual,tejano plana,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T8/fotos...
4,2586,2021-12-01,8445306126511,100756,100756,1,8445306126511,FULAR I MALLORCA,87041012,87041012,...,119900,52,AZUL,99,99,Complementos,cuello he,NaN,1,https://st.mngbcn.com/rcs/pics/static/T8/fotos...

### Filter

In [61]:
df_sales_products_filterd = df_sales_products.query(('date > "2021-12-01" & date < "2022-12-31"'))
df_sales_products_filterd = df_sales_products_filterd[df_sales_products_filterd['temp'] == 8]
df_sales_products_filterd.shape

(984, 23)

### Order

In [87]:
df_sales_products = df_sales_products.sort_values('date', ascending=False)
df_sales_products

,store_id,date,product_id,sales_with_taxes,sales_without_taxes,quantity,id,name,reference,reference_group,...,cost,code_color,description_color,size,description_size,target,family,fashion_grade,status,url_images
40237,2672,2022-02-23,8445661461883,252017,252017,1,8445661461883,VESTIDO CHAIN,27024035,27024035,...,299900,70,ROJO,22,L,Casual,pichi y vestido largo plana,NOVEDAD,1,
24612,2672,2022-02-23,8445438802130,109160,109160,1,8445438802130,CAMISA BASIC,27091117,27091117,...,129900,81,ROSA PASTEL,22,L,Casual,camisa/bluson plana,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T2/fotos...
39310,2586,2022-02-23,8445661128281,167983,167983,1,8445661128281,JERSEY PAQUITA,27004025,27004025,...,199900,56,NAVY,22,L,Casual,jersey tricot,FONDO DE ARMARIO,1,https://st.mngbcn.com/rcs/pics/static/T2/fotos...
14989,2586,2022-02-23,8445661175100,167983,167983,1,8445661175100,JEANS FLARE,27140896,27040896,...,199900,TM,TEJANO MEDIO,40,40,Casual,tejano plana,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T2/fotos...
36286,2672,2022-02-23,8445438773010,285546,285546,2,8445438773010,JEANS ANNE,27000820,27000820,...,169900,TO,TEJANO OSCURO,40,40,Casual,tejano plana,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T2/fotos...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,2672,2021-12-01,8445438530903,218403,218403,1,8445438530903,JERSEY ODESSA,17057109,17057109,...,259900,81,ROSA PASTEL,20,S,Casual,jersey tricot,NOVEDAD,1,https://st.mngbcn.com/rcs/pics/static/T1/fotos...
1301,2672,2021-12-01,8445438481557,142773,142773,1,8445438481557,JERSEY FUJI,17037711,17037711,...,169900,43,VERDE,21,M,Casual,jersey tricot,FONDO DE ARMARIO,1,https://st.mngbcn.com/rcs/pics/static/T1/fotos...
1409,2672,2021-12-01,8445438532655,-70529,-70529,-1,8445438532655,LEGGINGS ALEXEI,17965922,17065922,...,119900,92,GRIS,21,M,Casual,legging circular,NOVEDAD,1,https://st.mngbcn.com/rcs/pics/static/T1/fotos...
1440,2672,2021-12-01,8445438539265,218403,218403,1,8445438539265,BLUSA BRUNA,17025953,17025953,...,259900,02,OFFWHITE,22,L,Vestir,camisa/bluson plana,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T1/fotos...
0,2586,2021-12-01,8445306012586,167983,167983,1,8445306012586,JEANS ISA,87001012,87001012,...,199900,TO,TEJANO OSCURO,40,40,Casual,tejano plana,ICONICO,1,https://st.mngbcn.com/rcs/pics/static/T8/fotos...

### Group By

In [89]:
df_sales_products.head()

df_sales_products.groupby(['gender', 'temp']).agg(['count', 'min', 'max', 'sum', 'mean'])

C:\Users\ingegus\AppData\Local\Temp\ipykernel_18964\4268744288.py:3: FutureWarning: ['store_id', 'date', 'product_id', 'id', 'name', 'reference', 'reference_group', 'code_color', 'description_color', 'description_size', 'target', 'family', 'fashion_grade', 'url_images'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df_sales_products.groupby(['gender', 'temp']).agg(['count', 'min', 'max', 'sum', 'mean'])

            sales_with_taxes                                              \
                       count     min      max         sum           mean
gender temp
Hombre 1                1558 -672185   873613   200750378  128851.333761
       2                1333 -672185   672185   260195391  195195.342086
       7                   5 -131008   235210     -157814  -31562.800000
       8                 305 -672185   672185    48917575  160385.491803
Mujer  1               26496 -722605  1209933  2978722800  112421.603261
       2                9761 -722605  1445210  1329586240  136214.141994
       5                   1   83950    83950       83950   83950.000000
       7                  65 -420084        0    -9094944 -139922.215385
       8                 694 -252017   335966    56889403   81973.203170
Niñas  1                  13 -252017    67143    -1020192  -78476.307692
       2                   4 -142773   142773     -226722  -56680.500000
       8                   1  -55378   -55378      -55378  -55378.000000
Niños  1                   2  -50773    45328       -5445   -2722.500000

            sales_without_taxes                                              \
                          count     min      max         sum           mean
gender temp
Hombre 1                   1558 -672185   873613   200750378  128851.333761
       2                   1333 -672185   672185   260195391  195195.342086
       7                      5 -131008   235210     -157814  -31562.800000
       8                    305 -672185   672185    48917575  160385.491803
Mujer  1                  26496 -722605  1209933  2978722800  112421.603261
       2                   9761 -722605  1445210  1329586240  136214.141994
       5                      1   83950    83950       83950   83950.000000
       7                     65 -420084        0    -9094944 -139922.215385
       8                    694 -252017   335966    56889403   81973.203170
Niñas  1                     13 -252017    67143    -1020192  -78476.307692
       2                      4 -142773   142773     -226722  -56680.500000
       8                      1  -55378   -55378      -55378  -55378.000000
Niños  1                      2  -50773    45328       -5445   -2722.500000

             ...   size                            status
             ...  count min max     sum       mean  count min max    sum mean
gender temp  ...
Hombre 1     ...   1558  19  99   56446  36.229782   1558   1   1   1558  1.0
       2     ...   1333  19  99   40352  30.271568   1333   1   1   1333  1.0
       7     ...      5  20  42     127  25.400000      5   1   1      5  1.0
       8     ...    305  19  99   15204  49.849180    305   1   1    305  1.0
Mujer  1     ...  26496  18  99  728293  27.486904  26496   1   1  26496  1.0
       2     ...   9761  18  99  345256  35.370966   9761   1   1   9761  1.0
       5     ...      1  23  23      23  23.000000      1   1   1      1  1.0
       7     ...     65  19  99    1702  26.184615     65   1   1     65  1.0
       8     ...    694  19  99   31830  45.864553    694   1   1    694  1.0
Niñas  1     ...     13   6  99     469  36.076923     13   1   1     13  1.0
       2     ...      4  20  20      80  20.000000      4   1   1      4  1.0
       8     ...      1  14  14      14  14.000000      1   1   1      1  1.0
Niños  1     ...      2  12  12      24  12.000000      2   1   1      2  1.0

[13 rows x 35 columns]

In [95]:
df_sales_products.groupby(['store_id', 'temp'])\
    .agg({'sales_without_taxes': ['sum', 'mean'], 'quantity': ['sum', 'mean']})

              sales_without_taxes                quantity
                              sum           mean      sum      mean
store_id temp
2586     1             1296883591  109487.850654     9923  0.837737
         2              743508763  141890.985305     4967  0.947901
         7               -4742120 -115661.463415      -37 -0.902439
         8               78351880  122616.400626      530  0.829421
2672     1             1881563950  115974.109344    14446  0.890409
         2              846046146  144425.767497     5789  0.988221
         5                  83950   83950.000000        1  1.000000
         7               -4510638 -155539.241379      -29 -1.000000
         8               27399720   75899.501385      281  0.778393

### Pivot table

In [100]:
df_sales_products.pivot_table(index=['gender', 'temp'], columns=['description_color'], values='quantity', aggfunc='sum').fillna(0)

description_color  AGUA  AMARILLO  AMARILLO PASTEL  ANTRACITA  ARENA   AZUL  \
gender temp
Hombre 1            4.0       0.0              0.0       22.0   10.0   29.0
       2            0.0       0.0              0.0       10.0    9.0   12.0
       7            0.0       0.0              0.0        0.0    0.0    0.0
       8            0.0       1.0              0.0        0.0    3.0   32.0
Mujer  1           67.0      74.0            162.0       63.0  107.0  443.0
       2           25.0      34.0             14.0        0.0   21.0  168.0
       5            0.0       0.0              0.0        0.0    0.0    0.0
       7            0.0       0.0              0.0        0.0   -2.0    0.0
       8            0.0       0.0              2.0        0.0    0.0    5.0
Niñas  1            0.0       0.0              0.0        0.0    0.0    0.0
       2            0.0       0.0              0.0        0.0    0.0    0.0
       8            0.0       0.0              0.0        0.0    0.0    0.0
Niños  1            0.0       0.0              0.0        0.0    0.0    0.0

description_color  AZUL NOCHE  BEIGE  BILLAR  BLANCO  ...  TERRACOTA  \
gender temp                                           ...
Hombre 1                  1.0   71.0     0.0    61.0  ...        7.0
       2                  0.0   92.0     0.0    64.0  ...        0.0
       7                  0.0    0.0     0.0     0.0  ...        0.0
       8                  0.0    8.0     0.0     4.0  ...       -1.0
Mujer  1                181.0  678.0    27.0   393.0  ...       30.0
       2                  2.0  181.0     0.0   231.0  ...       10.0
       5                  0.0    0.0     0.0     0.0  ...        0.0
       7                  0.0   -2.0     0.0     0.0  ...       -1.0
       8                  0.0    1.0     0.0    27.0  ...        0.0
Niñas  1                  0.0    0.0     0.0     0.0  ...        0.0
       2                  0.0    0.0     0.0    -1.0  ...        0.0
       8                  0.0    0.0     0.0     0.0  ...        0.0
Niños  1                  0.0    0.0     0.0     0.0  ...        0.0

description_color  TESTA DI MORO  TINTA   TOPO  TURQUESA  VAINILLA   VERDE  \
gender temp
Hombre 1                     6.0    0.0    2.0       0.0       0.0    17.0
       2                     0.0   14.0    0.0       0.0       0.0     8.0
       7                     0.0    0.0    0.0       0.0       0.0     0.0
       8                     0.0    3.0    3.0       0.0       0.0     0.0
Mujer  1                     0.0   35.0  144.0      13.0      78.0  1166.0
       2                     0.0    0.0  101.0       2.0     141.0   598.0
       5                     0.0    0.0    0.0       0.0       0.0     0.0
       7                     0.0    0.0    0.0       0.0       0.0    -2.0
       8                     0.0    0.0    0.0       0.0       0.0     4.0
Niñas  1                     0.0    0.0    0.0       0.0       0.0     0.0
       2                     0.0    0.0    0.0       0.0       0.0     0.0
       8                     0.0    0.0    0.0       0.0       0.0     0.0
Niños  1                     0.0    0.0    0.0       0.0       0.0     0.0

description_color  VERDE PASTEL  VINO  VISON
gender temp
Hombre 1                    1.0   0.0    0.0
       2                    4.0   4.0    0.0
       7                    0.0   0.0    0.0
       8                    0.0   0.0    0.0
Mujer  1                  119.0  56.0    0.0
       2                   37.0   0.0    0.0
       5                    0.0   0.0    0.0
       7                    0.0   0.0    0.0
       8                    0.0   5.0   -1.0
Niñas  1                    0.0   0.0    0.0
       2                    0.0   0.0    0.0
       8                    0.0   0.0    0.0
Niños  1                    0.0   0.0    0.0

[13 rows x 104 columns]