In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

print("version pandas >>", pd.__version__)
print("version numpy >>", np.__version__)

version pandas >> 1.2.4
version numpy >> 1.20.2

In [2]:
df_diamonds = sns.load_dataset('diamonds')
print(df_diamonds.shape)
df_diamonds.sample()

(53940, 10)

       carat    cut color clarity  depth  table  price     x     y     z
49313   0.34  Ideal     G     SI1   61.8   54.0    540  4.48  4.51  2.78

In [3]:
# Agrupando por columna y aplicando el conteo de valores en la columna
df_diamonds.groupby(['cut'])['carat'].count()

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: carat, dtype: int64

In [6]:
# Agrupando por columna y aplicando la media de valores en la columna y volviendolo un datagrame
df_diamonds.groupby(['cut'])['price'].mean().to_frame()

                 price
cut
Ideal      3457.541970
Premium    4584.257704
Very Good  3981.759891
Good       3928.864452
Fair       4358.757764

In [7]:
# Aplicando funciones personalizadas sobre la agrupaciones
def mean_kilo(x):
    return np.mean(x) / 1000

# .aggregate([])
# recibe todas las funciones a ejecutar sobre la agurpacion, y estas definiaran la cantidad de columnas calculadas

df_diamonds.groupby(['cut', 'color'])['price'].aggregate(['min', np.mean, 'max', mean_kilo]).head(10)

               min         mean    max  mean_kilo
cut     color
Ideal   D      367  2629.094566  18693   2.629095
        E      326  2597.550090  18729   2.597550
        F      408  3374.939362  18780   3.374939
        G      361  3720.706388  18806   3.720706
        H      357  3889.334831  18760   3.889335
        I      348  4451.970377  18779   4.451970
        J      340  4918.186384  18508   4.918186
Premium D      367  3631.292576  18575   3.631293
        E      326  3538.914420  18477   3.538914
        F      342  4324.890176  18791   4.324890

In [10]:
# Creando un diccionario con las operaciones que se requieren aplicar a la agrupaciones
# caract => name columna
# esto creara columnas calculadas
dict_aggregate = {
    'carat' : [min, max],
    'price' : [np.mean, mean_kilo]
}

df_diamonds.groupby(['cut', 'color']).aggregate(dict_aggregate).head(10)

              carat              price
                min   max         mean mean_kilo
cut     color
Ideal   D      0.20  2.75  2629.094566  2.629095
        E      0.20  2.28  2597.550090  2.597550
        F      0.23  2.45  3374.939362  3.374939
        G      0.23  2.54  3720.706388  3.720706
        H      0.23  3.50  3889.334831  3.889335
        I      0.23  3.22  4451.970377  4.451970
        J      0.23  3.01  4918.186384  4.918186
Premium D      0.20  2.57  3631.292576  3.631293
        E      0.20  3.05  3538.914420  3.538914
        F      0.20  3.01  4324.890176  4.324890

In [11]:
# Filtrando los datos de agrupacion
def f_filter(x):
    return mean_kilo(x['price']) > 4

df_diamonds.groupby(['cut', 'color']).filter(f_filter).head(10)

    carat        cut color clarity  depth  table  price     x     y     z
3    0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4    0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5    0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6    0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7    0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
9    0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39
10   0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
11   0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12   0.22    Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13   0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71

In [19]:
# Datos estadisticos para todas las columnas
df_diamonds.describe(include='all')

,carat,cut,color,clarity,depth,table,price,x,y,z
count,53940.000000,53940,53940,53940,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
unique,NaN,5,7,8,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Ideal,G,SI1,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,21551,11292,13065,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.797940,NaN,NaN,NaN,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,NaN,NaN,NaN,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,NaN,NaN,NaN,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,NaN,NaN,NaN,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,NaN,NaN,NaN,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,NaN,NaN,NaN,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,NaN,NaN,NaN,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [16]:
# Datos estadisticos para a columnas especificas agrupadas
df_diamonds.groupby(['clarity'])[['price']].describe()

           price                                                             \
           count         mean          std    min      25%     50%      75%
clarity
IF        1790.0  2864.839106  3920.248499  369.0   895.00  1080.0  2388.50
VVS1      3655.0  2523.114637  3334.838888  336.0   816.00  1093.0  2379.00
VVS2      5066.0  3283.737071  3821.647537  336.0   794.25  1311.0  3638.25
VS1       8171.0  3839.455391  4011.747958  327.0   876.00  2005.0  6023.00
VS2      12258.0  3924.989395  4042.302816  334.0   900.00  2054.0  6023.75
SI1      13065.0  3996.001148  3799.483853  326.0  1089.00  2822.0  5250.00
SI2       9194.0  5063.028606  4260.458578  326.0  2264.00  4072.0  5777.25
I1         741.0  3924.168691  2806.778270  345.0  2080.00  3344.0  5161.00


             max
clarity
IF       18806.0
VVS1     18777.0
VVS2     18768.0
VS1      18795.0
VS2      18823.0
SI1      18818.0
SI2      18804.0
I1       18531.0

In [14]:
# Cantidad de valores en una columna
df_diamonds['cut'].value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [15]:
# Cantidad de valores por columna en porcentajes
df_diamonds['cut'].value_counts() / df_diamonds['cut'].value_counts().sum() * 100

Ideal        39.953652
Premium      25.567297
Very Good    22.398962
Good          9.095291
Fair          2.984798
Name: cut, dtype: float64

In [20]:
# *Aplicando solo una funcion se usa APPLY si se requiere aplicar multiples funciones se usa AGGREGATE*
print(df_diamonds.groupby(['clarity'])[['price', 'x']].apply(np.sum))
print(df_diamonds.groupby(['clarity'])[['price', 'x']].apply(lambda x : np.mean(x) * 1.12))

              price         x
clarity
IF        5128062.0   8893.44
VVS1      9221984.0  18130.13
VVS2     16635412.0  26436.69
VS1      31372190.0  45530.27
VS2      48112520.0  69352.20
SI1      52207755.0  76931.72
SI2      46549485.0  58854.20
I1        2907809.0   5009.97
               price         x
clarity
IF       3208.619799  5.564611
VVS1     2825.888394  5.555608
VVS2     3677.785519  5.844669
VS1      4300.190038  6.240840
VS2      4395.988122  6.336634
SI1      4475.521286  6.594989
SI2      5670.592038  7.169535
I1       4395.068934  7.572424