In [1]:
import pandas as pd

In [2]:
df_store = pd.read_csv('../db/store.csv', delimiter=';', encoding="ISO-8859-1",
                       usecols=['Order_ID', 'Order_Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name',
                                'City', 'Product ID', 'Category', 'Product_Name', 'Sales', 'Quantity'])
print(df_store.shape)
df_store.head()

(9994, 12)

,Order_ID,Order_Date,Ship Date,Ship Mode,Customer ID,Customer Name,City,Product ID,Category,Product_Name,Sales,Quantity
0,CA-2016-152156,08/11/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Henderson,FUR-BO-10001798,Furniture,Bush Somerset Collection Bookcase,"261,96",2
1,CA-2016-152156,08/11/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Henderson,FUR-CH-10000454,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs,...","731,94",3
2,CA-2016-138688,12/06/2016,16/06/2016,Second Class,DV-13045,Darrin Van Huff,Los Angeles,OFF-LA-10000240,Office Supplies,Self-Adhesive Address Labels for Typewriters b...,"14,62",2
3,US-2015-108966,11/10/2015,18/10/2015,Standard Class,SO-20335,Sean O'Donnell,Fort Lauderdale,FUR-TA-10000577,Furniture,Bretford CR4500 Series Slim Rectangular Table,"957,5775",5
4,US-2015-108966,11/10/2015,18/10/2015,Standard Class,SO-20335,Sean O'Donnell,Fort Lauderdale,OFF-ST-10000760,Office Supplies,Eldon Fold 'N Roll Cart System,"22,368",2

In [3]:
# Seteando a travez de una funcion en una columna los valores
df_store.Sales = df_store.apply(lambda row: int(row['Sales'].replace(',', '')), axis=1)
df_store.tail()

,Order_ID,Order_Date,Ship Date,Ship Mode,Customer ID,Customer Name,City,Product ID,Category,Product_Name,Sales,Quantity
9989,CA-2014-110422,21/01/2014,23/01/2014,Second Class,TB-21400,Tom Boeckenhauer,Miami,FUR-FU-10001889,Furniture,Ultra Door Pull Handle,25248,3
9990,CA-2017-121258,26/02/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Costa Mesa,FUR-FU-10000747,Furniture,Tenex B1-RE Series Chair Mats for Low Pile Car...,9196,2
9991,CA-2017-121258,26/02/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Costa Mesa,TEC-PH-10003645,Technology,Aastra 57i VoIP phone,258576,2
9992,CA-2017-121258,26/02/2017,03/03/2017,Standard Class,DB-13060,Dave Brooks,Costa Mesa,OFF-PA-10004041,Office Supplies,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",296,4
9993,CA-2017-119914,04/05/2017,09/05/2017,Second Class,CC-12220,Chris Cortes,Westminster,OFF-AP-10002684,Office Supplies,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",24316,2

In [4]:
# Traer nombre clientes, cantidad, que tengan mas de 4  unidades
df_store.loc[df_store.Quantity > 4, ['Customer Name', 'Quantity']]

         Customer Name  Quantity
3       Sean O'Donnell         5
5      Brosina Hoffman         7
7      Brosina Hoffman         6
9      Brosina Hoffman         5
10     Brosina Hoffman         9
...                ...       ...
9979        Anne Pryor        14
9981   Ted Butterfield         5
9982        Ryan Crowe         7
9984  Dianna Vittorini        10
9988      Ruben Ausman         5

[3093 rows x 2 columns]

In [5]:
# Traer nombre id y nombre clientes, cantidad, venta que tengan mas de 2  unidades y la venta sea mayor o igual a 50 USD
df_store.loc[
    (df_store.Quantity > 2) & (df_store.Sales >= 50), ['Customer ID', 'Customer Name', 'Quantity', 'Sales']]

     Customer ID     Customer Name  Quantity    Sales
1       CG-12520       Claire Gute         3    73194
3       SO-20335    Sean O'Donnell         5  9575775
5       BH-11710   Brosina Hoffman         7     4886
6       BH-11710   Brosina Hoffman         4      728
7       BH-11710   Brosina Hoffman         6   907152
...          ...               ...       ...      ...
9984    DV-13465  Dianna Vittorini        10      315
9985    DV-13465  Dianna Vittorini         4      556
9988    RA-19885      Ruben Ausman         5     2061
9989    TB-21400  Tom Boeckenhauer         3    25248
9992    DB-13060       Dave Brooks         4      296

[6655 rows x 4 columns]

In [12]:
# Traer Las ordenes que finalicen en 156, el nombre del producto que y empiece en B
df_store.loc[
    (df_store.Order_ID.str.endswith('156')) & (df_store.Product_Name.str.startswith('B')), ['Order_ID', 'Product_Name']]

         Order_ID                       Product_Name
0  CA-2016-152156  Bush Somerset Collection Bookcase

In [16]:
# Traer El modo de envio par todas las ciudades menois para Los Angeles
# df_store['City']  || df_store.City
df_store.loc[df_store['City'] != 'Los Angeles', ['Ship Mode', 'City']]

           Ship Mode             City
0       Second Class        Henderson
1       Second Class        Henderson
3     Standard Class  Fort Lauderdale
4     Standard Class  Fort Lauderdale
12    Standard Class          Concord
...              ...              ...
9989    Second Class            Miami
9990  Standard Class       Costa Mesa
9991  Standard Class       Costa Mesa
9992  Standard Class       Costa Mesa
9993    Second Class      Westminster

[9247 rows x 2 columns]

In [19]:
# Traer las ordenes id, el cliente para las ciudades de Los Angeles, Madison y Wet Jordan que tengan mas de 2 cantidades los primeros 100 registros
# .isin(lista) verifica si el valor esta dentro de los valores de la lista pasada por parametro
df_store.loc[(df_store.City.isin(['Los Angeles', 'Madison', 'West Jordan'])) & (df_store.Quantity > 2), ['Order_ID',
                                                                                                         'Customer Name',
                                                                                                         'City',
                                                                                                         'Quantity']].head(
    10)

          Order_ID    Customer Name         City  Quantity
5   CA-2014-115812  Brosina Hoffman  Los Angeles         7
6   CA-2014-115812  Brosina Hoffman  Los Angeles         4
7   CA-2014-115812  Brosina Hoffman  Los Angeles         6
8   CA-2014-115812  Brosina Hoffman  Los Angeles         3
9   CA-2014-115812  Brosina Hoffman  Los Angeles         5
10  CA-2014-115812  Brosina Hoffman  Los Angeles         9
11  CA-2014-115812  Brosina Hoffman  Los Angeles         4
16  CA-2014-105893        Pete Kriz      Madison         6
26  CA-2016-121755    Eric Hoffmann  Los Angeles         3
63  CA-2015-135545     Kunst Miller  Los Angeles         6

In [17]:
# Traer las 10 ordenes mas viejas
df_store[['Order_ID', 'Order_Date']].sort_values('Order_Date', ascending=False).head(10)

            Order_ID  Order_Date
1153  CA-2017-160395  31/12/2016
5738  CA-2017-156139  31/12/2016
4613  US-2017-165953  31/12/2016
4612  US-2017-165953  31/12/2016
2821  CA-2017-100202  31/12/2016
6341  US-2017-105830  31/12/2016
1152  CA-2017-160395  31/12/2016
2321  CA-2015-109470  31/12/2015
1895  CA-2015-109197  31/12/2015
7355  CA-2015-139780  31/12/2015

In [21]:
# traer la cantidad de unidades  order id
df_store.groupby(['Order_ID']).Quantity.sum().to_frame()

                Quantity
Order_ID
CA-2014-100006         3
CA-2014-100090         9
CA-2014-100293         6
CA-2014-100328         1
CA-2014-100363         5
...                  ...
US-2017-168802         4
US-2017-169320         7
US-2017-169488         7
US-2017-169502         8
US-2017-169551        16

[5009 rows x 1 columns]

In [23]:
# traer la cantidad de unidades  order id que la sumatoria sea mayor a 10
"""
df_store.groupby(['Order_ID']).filter(lambda row: row.Quantity.sum() > 10).groupby(['Order_ID']).Quantity.sum()

df_store.groupby(['Order_ID']) # realiza una agrupacion de todo el DF por la columna pasada por parmetro
.filter(lambda row: row.Quantity.sum() > 10)  realiza un filtrado por dato agrupado, y le espeficicamos la funcion de agrupacion sum() para que realice el calculo
# sin embargo listaria de esta forma todo el DF ya que no se a realizado la agrupacion de salida solo del filtro
.groupby(['Order_ID']).Quantity.sum()  # se realiza la agrupacion sobre el filtro, y la variable operando a realizar la sumatoria

"""

df_store.groupby(['Order_ID']).filter(lambda row: row.Quantity.sum() > 10).groupby(['Order_ID']).Quantity.sum().to_frame()

                Quantity
Order_ID
CA-2014-100678        11
CA-2014-100762        11
CA-2014-101364        13
CA-2014-101560        19
CA-2014-101931        17
...                  ...
US-2017-166324        12
US-2017-166688        16
US-2017-167402        19
US-2017-167920        21
US-2017-169551        16

[1139 rows x 1 columns]